body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: white;
    padding: 16px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


#home img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
   width: 100%;
  position: relative;

}

#home h2 {
    position: absolute;
    top:17%;
    color: #ffffff;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 200px;
    margin-left: 30px;
    
}
